<h1>Visit Date</h1>

<%if @errors%>
    <%@errors.each do |error|%>
    <div>
    <%=error%> 
    </div>
    <%end%>
<%end%>

<%= form_for(@visit) do |f| %>
<div>
<%= f.label :Date %>
<%= f.date_field :visit_date %>
</div>


<%= f.fields_for :name do |v| %>
<div>
<%= v.label :name%>
<%= v.text_field :name %>
</div>
<%end%>


<%= f.fields_for :borough do |v| %>
<div>
<%= v.label :borough%>
<%= v.text_field :borough %>
</div>
<%end%>




<%= f.submit "Register"%>

<%end%>
