<h1>Welcome Museum Lovers</h1>


<%= form_for(@user) do |f| %>
<div>
<%= f.label :email %>
<%= f.email_field :email %>
</div>
<br>
<div>
<%= f.label :user_name %>
<%= f.text_field :user_name %>
</div>
<br>
<div>
<%= f.label :password %>
<%= f.password_field :password %>
</div>
<br>
<%= f.submit "Submit"%>

<% end %>

<%if @errors%>
    <%@errors.filter do |error|%>
        <%if params[:email]|| params[:user_name] || params[:password]  %>
    <%=error%>
<%end%>
<%end%>
<%end%>


