<h1>Welcome Museum Lovers</h1>

<%
=begin%>
 <%if @errors%>
    <%@errors.each do |error|%>
    <div>
    <%=error%> 
    </div>
    <%end%>
<%end%> 
<%
=end%>

<%= render "layouts/errors", :object => @user %>


<%= form_for(@user) do |f| %>
<div>
<%= f.label :email %>
<%= f.email_field :email%>
</div>
<br>
<div>
<%= f.label :user_name %>
<%= f.text_field :user_name %>
</div>
<br>
<div>
<%= f.label :password %>
<%= f.password_field :password %>
</div>
<br>
<%= f.submit "Submit"%>

<% end %>




