<h1>Welcome <%=current_user.user_name.capitalize%> to Your Museum Visits </h1>

<h2> List of Museums</h2> <br>

<div>
 <%= button_to  "Create Your Visit", new_review_path, method: :get%>
</div>


<br>


<div>
<% @museum.each do |museum| %>

<br>
<%= label_tag "Museum:".capitalize%>
<%= link_to museum.name, museum_path(museum) %> 
</div>
<div>
<%= link_to "Edit", edit_museum_path(museum) %> 
<%= link_to 'Delete', museum_path(museum),
             method: :delete,
             data: { confirm: 'Are You sure?' } %>
</div><br>

<% end %>
