<h4>Reviews for <%= @museum.name %></h4>
<ul>
<%= label_tag "Museum Name: "%> <%=@museum.name%> <br>
<%= label_tag "Borough: "%> <%=@museum.borough%><br>

<% if @museum.reviews.any? %>
<%= label_tag "Avergae Rating: "%> <%= @museum.reviews.average(:rate).round(2) %> / 5
<% end %>

</ul>


<% if @museum.reviews.any? %>
  <ul>
    <% @museum.reviews.order(:updated_at).reverse.each do |review| %>
      <% review.rate.times do %>
      <span class="star">★</span>
      <% end %>
      <% (5 - review.rate).times do %>
      <span class="out-of">★</span>
      <% end %> <br>
      <a href="<%= museum_review_path(@museum, review) %>">  <%= truncate(review.review, :length => 200) %></a>
    <% end %> <br>
  </ul>
    <% else %>
      <em>This museum has 0 reviews</em>
    <% end %>

  <% if current_user %>
    <ul><%= link_to "Add a review", new_museum_review_path(@museum) %></ul>
  <% end %>





