<%= link_to  "Home", museums_path%>
<h1>YAY</h1>

<%= label_tag "Museum Name:"%>
<%=@museum.name%> <br>
<%= label_tag "Country:"%>
<%=@museum.country%><br>
<%= label_tag "City:"%>
<%=@museum.city%>



