


<h1>All Reviews </h1>

<div>

<% @review.each do |r|%>
<div>
<%= label_tag "Review" %>: 
<%= r.review%> <br>
<%= label_tag "Rate" %>:
<%= r.rate%>

<br>
<%= link_to "Edit", edit_review_path(@review) %> | 

<%= link_to 'Delete', review_path(@review),
             method: :delete,
             data: { confirm: 'Are You sure?' } %>

<div>
</div><br>             
</div>
<br>
<%end%>

