



<h1> Write Review</h1>

<%if @errors%>
    <%@errors.each do |error|%>
    <>
    <%=error%> 
    </>
    <%end%>
<%end%>
<br>
<%
=begin%>
 <%= form_for @review do |f| %>
<div>
<%= f.label :review %>
<%= f.text_area :review %>
</div>
<br>
<%= f.label :rate %>
<%=f.range_field :rate, :in => 0..5, :step => 1 %>
<%=f.collection_select :museum_id, Museum.all, :id, :name, prompt: true %>
<%= f.fields_for :museum do |m| %>
<br>
<div>
<%= m.label :borough %>
<%= m.text_field :borough %>
</div>
<%end%>
</div>
<%= f.submit "Review"%>
<%end%> 
<%
=end%>
<h2>New Review for <%= @museum.name %></h2>

<%= form_for [@museum, @review] do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.label :review, "Write your review below" %>
  <%= f.text_area :review %>
  <%= f.label :rate, "Rate this product" %>
  <%= f.select(:rate, options_for_select([
    ["1", 1],
    ["2", 2],
    ["3", 3],
    ["4", 4],
    ["5", 5]
    ])) %>
  <%= f.submit "Submit Review" %>
<% end %>