
<H1>Your Visit</H1>
<%= label_tag "Museum"%>: 
<%= @review.name%> <br>
<%= label_tag "Location"%>: 
<%= @review.borough%><br>
<%= label_tag "review"%>: 
<%= @review.review%> <br>
<%= label_tag "Rate"%>: 
<%= @review.rate%>
